<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bingo - Centro Educação Coreano SP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="topbar">
      <img src="{{ url_for('static', filename='images/logo_cecsp.jpg') }}" class="logo">
        <nav class="nav">
            <a href="{{ url_for('index') }}" class="btn small" >🏠 홈페이지</a>
        </nav>
        <div class="title">빙고 게임</div>
    </header>
  

  <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-area">
          {% for cat, msg in messages %}
            <div class="flash {{ cat }}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    상파울루 한국교육원 제작 — 비매품, 2025
  </footer>
</body>
</html>